@tailwind base;
@tailwind components;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind utilities;

:root {
  --background: white;
  --foreground: #212529;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  width: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.highlight {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  background-color: #dbeafe;
  /* background: linear-gradient(120deg, rgba(255, 235, 59, 0.7) 0%, rgba(255, 235, 59, 0.7) 100%); */
  padding: 0 5px;
  border-radius: 5px; /* Adds some curves */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}
